:root {
  @media (prefers-color-scheme: dark) {
    --accent: rgb(120,226,160);
    --accent-alpha-70: rgba(120,226,160,.7);
    --accent-alpha-20: rgba(120,226,160,.2);
  
    --background: #101010;
    --color: #f0f0f0;
    --border-color: rgba(255,240,224,.125);
    --svg-figure: invert(99%) sepia(0%) saturate(930%) hue-rotate(223deg) brightness(114%) contrast(88%);
    
    div.logo {
      color: black;
    }
  
  }
  @media (prefers-color-scheme: light) {
    --accent: rgb(24, 192, 128);
    --accent-alpha-70: rgba(24, 192, 128,.7);
    --accent-alpha-20: rgba(24, 192, 128,.2);

    --background: white;
    --color: #201030;
    --border-color: rgba(0,0,16,.125);
    --svg-figure: invert(99%) sepia(0%) saturate(930%) hue-rotate(223deg) brightness(114%) contrast(88%);
    
    div.logo {
      color: white;
    }
  }
}
