:root {
  --accent: rgb(224,64,192);
  --accent-alpha-70: rgba(224,64,192);
  --accent-alpha-20: rgba(224,64,192,.2);

  --background: white;
  --color: #1D212C;
  --border-color: rgba(0, 0, 0, .1);
  --svg-figure: invert(10%) sepia(39%) saturate(423%) hue-rotate(186deg) brightness(94%) contrast(94%);
  div.logo {
    color: white;
  }
}
